.exit-log {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

hr {
    border: 2px solid;
}

.info-container {
    text-align: center;
    border: 3px solid;
    border-radius: 5px;
}

.box-info {
    font-size: 15px;
    font-family: sans-serif;
    text-align: center;
}